apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: payment-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8001
          env:
            - name: JWT_SECRET
              value: "f468468cb80df37d0de5096e8f130519e8d60296f1b56448de012db650de94c7"
            - name: STRIPE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: STRIPE_SECRET_KEY
